<style>

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


.wrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap:0px 1%;
}
body{
    display: flex;
    flex-direction: column; 

    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    
    

    margin-left: auto;
    margin-right: auto;

    overflow-wrap: break-word;

    padding: 0em 5em 0em 5em;

}
header{
    padding-left: auto;
    padding-right: auto;
    margin-top: 5em;
}

footer{

    border-color:black;
    border-top: solid;
    border-width: 3px;
}

.social_icons{
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

button {
  background-color: whitesmoke; /* Green */
  border: none;
  color: #007bff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;

  text-shadow:.5px 1px 2px rgba(128, 128, 128, 0.274);


  
}



button:hover, a:hover{
    color: #cda397;
}


.homepage-content{

    display:flex;
    flex-direction: column;
    
    margin: 1% 3% 0em 3%;

    font-family: 'Roboto', sans-serif;
    font-size: 26px;

    color: black;
    text-shadow:.5px 1px 2px rgba(128, 128, 128, 0.274);
    

}

.wrapper > div {
    background-color: whitesmoke;
}

img{
    max-width: 300px;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    display: block; 
}

nav{
    font-size: xx-large;
     

    border-color:black;
    border-bottom: solid;
    border-width: 3px;
    
    display:flex; 
    justify-content:space-evenly;

    margin-left: auto;
    margin-right: auto;

}

div> p{
    flex:inherit;
    flex-direction: inherit;
    justify-content: space-between;
}

.welcome{
    display: flex;
    justify-content: center;

    font-size: 40px;

    text-transform: lowercase;

    color:black;
}
.poly{
    display: flex;
    justify-content: center;

    height: 100px;
    min-height: 25%;
    min-width: 25%;


}




@media screen and (max-width: 767px){


nav{
    font-size: large;
}

.welcome{
    font-size: 20px;
}

.homepage-content{

    font-size: 16px;
    display: flex;
    flex-direction: column;
    
}

.homepage-content> div{
    grid-column: auto;
    grid-row: auto;
}

img{
    max-width: 150px;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    display: block; 
}

}


</style>