<style>
.wrapper{
    display: grid; 
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px 1fr;
    grid-gap: 1em;
}
body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    max-width: 1480px;

    margin-left: auto;
    margin-right: auto;


    padding: 0em 5em 0em 5em;

}
header{
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5em;
}

.homepage-content{
    padding: 2em 5em 0em 5em;
}

.wrapper > div {
    background-color: whitesmoke;
}

img{
    max-width: 100%;
    height: 200px;
}

nav{
    font-size: larger;
    border-color: grey;
    border-bottom: solid;
    text-align: center
}

</style>